fastapi==0.110.0 
uvicorn==0.29.0
python-multipart==0.0.9
transformers==4.39.1
torch==2.2.1
langchain==0.0.231
sentence_transformers==2.2.2
accelerate==0.20.3
asyncio==3.4.3
sse-starlette==1.6.1
optimum==1.18.0